html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 6rem;
    background-color: red;
}
h1{
    margin: 0;
    padding: 0;
    height: 3rem;
    width: 100%;
}

nav{ 
    padding: 0;
    margin: 0;
    
    }
nav> ul{ 
    padding: 0;
    margin: 0;
    height: 90px;
    
}
nav>ul>li{
        display:inline;
        padding: 0;
        margin: 0;
        width: calc(100%/6); 
        float:left;
}
a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    
}
a:hover{
    text-decoration:underline;
}


main{
    background-color: blue;
    width: 80%;
    height: 100%;
    padding:0;
    text-align: center;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }  
#sec1{ 
    }

#sec2{
    
}


/* aboutus */

/*pressrelease*/

#pri{ text-align: center;}
#nrs{ text-align: center;}

